<h1><%= t('actions.new') %> <%= @company.model_name.human%> </h1> 

<%= form_with model: @company, local: true do |f|%>

    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name %>

    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :social_networks%>
    <%= f.text_field :social_networks%>

    <%= f.label :domain%>
    <%= f.text_field :domain%>  

    <%= f.submit "#{t 'helpers.submit.create'}" %>

<% end %>