<p><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.company.name') %>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.company.corporate_name') %>:</strong>
  <%= @company.corporate_name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.company.cnpj') %>:</strong>
  <%= @company.cnpj %>
</p>
<p>
  <strong><%= t('activerecord.attributes.company.domain') %>:</strong>
  <%= @company.domain %>
</p>
<p>
  <strong><%= t('activerecord.attributes.company.address') %>:</strong>
  <%= @company.address %>
</p>
<p>
  <strong><%= t('activerecord.attributes.company.social_networks') %>:</strong>
  <%= @company.social_networks %>
</p>
<div>
  <%= link_to 'Apagar', company_path(@company), method: :delete, 
                        data: { comfirm: 'Tem certeza que deseja apagar?' } %>
</div>
<div>
   <%= link_to 'Editar', edit_company_path(@company) %> 
</div>